{% extends '../base.html' %}

{% block title %}
Departments
{% endblock %}

{% block content %}

<div class="card shadow-sm border-0 mb-4">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center py-3">
        <h4 class="mb-0 righteous-regular">Employee Master Directory</h4>
        <a href="{% url 'create_department' %}" class="btn btn-success btn-sm">+ Add New Department</a>
    </div>

    <div class="card-body bg-white">
        <!-- Main Data Table Layout -->
        <div class="table-responsive">
            <table class="table table-hover align-middle border">
                <thead class="table-light">
                    <tr>
                        <th>Department Code</th>
                        <th>Department Name</th>
                        <th>Manager</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td class="fw-bold text-secondary">{{ department.dept_code }}</td>
                        <td>{{ department.name }}</td>
                        <td>{{ department.manager.first_name }} {{ department.manager.last_name }}</td>

                        <td class="text-center">
                            {% if department.is_active %}
                            <span class="text-success fs-5">●</span> Active
                            {% else %}
                            <span class="text-danger fs-5">●</span> Inactive
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-muted py-4">
                            No departments directories matched your requested search params.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}